@font-face {
  font-family: Fontix;
  src: url(Fontix-Regular.ttf);
}

body {
  background-color: #009edb;
  background-image: url("../media/web/grid-pattern.png");
  background-repeat: repeat;
  image-rendering: pixelated;
  padding: 0;
  margin: 0;
  background-size: 48px 24px;
  font-family: Fontix, sans-serif;
  font-size: 16px;
  line-height: 16px;
}

#container {
  padding: 25px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.logo {
  margin: 11px 11px 11px -13px;
}

.textbox,
figure {
  margin: 11px;
  box-shadow: 2px 2px;
  border-width: 2px;
  border-color: black;
  box-sizing: border-box;
  display: inline-table;
}

.textbox {
  background-color: #00b9f2;
  border-style: solid;
  padding: 4px 6px;
}

.w10 {
  width: 242px;
}

.w8 {
  width: 194px;
}

.w6 {
  width: 146px;
}

figure {
  border-style: solid solid none solid;
  padding: 0;
  height: fit-content;
}

img {
  zoom: 2;
  display: table-row;
}

figcaption {
  padding: 4px 6px;
  display: table-caption;
  box-sizing: border-box;
  background-color: #00b9f2;
  caption-side: bottom;
  border-style: none solid solid solid;
  border-width: 2px;
  box-shadow: 2px 2px;
  color: black;
}

a {
  text-decoration: none;
  color: #2F3EA8;
}

strong {
  color: white;
  font-weight: normal;
}
